#!/usr/bin/make -f

PVM_CPUS = 0-17

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DPVM_CPUS:STRING=$(PVM_CPUS)

override_dh_auto_install:
	dh_auto_install --destdir=debian/platform-config
	install -D -m 0644 qcom-system.conf \
		debian/platform-config/usr/lib/systemd/system.conf.d/30-qcom-system.conf
	install -D -m 0644 qcom-coredump.conf \
		debian/platform-config/usr/lib/systemd/coredump.conf.d/30-qcom-coredump.conf
