// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
 */

#include "sa7255p_overlay.dtso"

&{/} {
	model = "Qualcomm Technologies, Inc. SA7255P Ride Switch Ethernet PHY";
	qcom,board-id = <0x01030019 1>;
};

