// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

&non_ecc_heap_mem {
	reg = <0x3 0x0B300000 0x0 0xF4100000>;
};
