// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

&non_ecc_heap_mem {
	reg = <0x2 0x80000000 0x1 0x80000000>;
};
