// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
 * Copyright (c) 2023, Linaro Limited
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>

#include "sa8255p.dtsi"
#include "sa8255p-pmics.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SA8775P Ride MX";
	compatible = "qcom,sa8775p-ride", "qcom,sa8775p";
	qcom,msm-id = <533 0x10000>, <534 0x20000>;
	qcom,board-id = <0x25 0x4>, <0x02010025 0x2>;

	aliases {
		ethernet0 = &ethernet0;
		ethernet1 = &ethernet1;
		i2c11 = &i2c11;
		i2c18 = &i2c18;
		serial0 = &uart10;
		serial1 = &uart12;
		serial2 = &uart17;
		spi16 = &spi16;
		ufshc1 = &ufs_mem_hc;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&ethernet0 {
	phy-mode = "sgmii";

	pinctrl-0 = <&ethernet0_default>;
	pinctrl-names = "default";

	snps,mtl-rx-config = <&mtl_rx_setup>;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,ps-speed = <1000>;

	status = "okay";

	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <4>;
		snps,rx-sched-sp;

		queue0 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x0>;
			snps,route-up;
			snps,priority = <0x1>;
		};

		queue1 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x1>;
			snps,route-ptp;
		};

		queue2 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x2>;
			snps,route-avcp;
		};

		queue3 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x3>;
			snps,priority = <0xc>;
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <4>;
		snps,tx-sched-sp;

		queue0 {
			snps,dcb-algorithm;
		};

		queue1 {
			snps,dcb-algorithm;
		};

		queue2 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};

		queue3 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};
	};

	fixed-link {
		status = "okay";
		speed = <2500>;
		full-duplex;
	};
};

&ethernet1 {
	phy-mode = "sgmii";

	snps,mtl-rx-config = <&mtl_rx_setup1>;
	snps,mtl-tx-config = <&mtl_tx_setup1>;
	snps,ps-speed = <1000>;

	status = "okay";

	mtl_rx_setup1: rx-queues-config {
		snps,rx-queues-to-use = <4>;
		snps,rx-sched-sp;

		queue0 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x0>;
			snps,route-up;
			snps,priority = <0x1>;
		};

		queue1 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x1>;
			snps,route-ptp;
		};

		queue2 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x2>;
			snps,route-avcp;
		};

		queue3 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x3>;
			snps,priority = <0xc>;
		};
	};

	mtl_tx_setup1: tx-queues-config {
		snps,tx-queues-to-use = <4>;
		snps,tx-sched-sp;

		queue0 {
			snps,dcb-algorithm;
		};

		queue1 {
			snps,dcb-algorithm;
		};

		queue2 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};

		queue3 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};
	};

	fixed-link {
		status = "okay";
		speed = <2500>;
		full-duplex;
	};

};

&i2c11 {
	clock-frequency = <400000>;
	pinctrl-0 = <&qup_i2c11_default>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c18 {
	clock-frequency = <400000>;
	pinctrl-0 = <&qup_i2c18_default>;
	pinctrl-names = "default";
	status = "okay";
};

&qupv3_id_1 {
	status = "okay";
};

&qupv3_id_2 {
	status = "okay";
};

&sleep_clk {
	clock-frequency = <32764>;
};

&spi16 {
	pinctrl-0 = <&qup_spi16_default>;
	pinctrl-names = "default";
	status = "okay";

	spidevmaster@0 {
		/* FIXME: Replace below compatible once we have proper dt-bindings
		 * for the NXPs Mercury Audio DSP SAF4000EL/101(ES).
		 */
		compatible = "micron,spi-authenta";
		reg = <0>;
		spi-max-frequency = <10000000>;
		spi-cpha;
		status = "okay";
	};
};

&tlmm {
	ethernet0_default: ethernet0-default-state {
		ethernet0_mdc: ethernet0-mdc-pins {
			pins = "gpio8";
			function = "emac0_mdc";
			drive-strength = <16>;
			bias-pull-up;
		};

		ethernet0_mdio: ethernet0-mdio-pins {
			pins = "gpio9";
			function = "emac0_mdio";
			drive-strength = <16>;
			bias-pull-up;
		};
	};

	qup_uart10_default: qup-uart10-state {
		pins = "gpio46", "gpio47";
		function = "qup1_se3";
	};

	qup_spi16_default: qup-spi16-state {
		pins = "gpio86", "gpio87", "gpio88", "gpio89";
		function = "qup2_se2";
		drive-strength = <6>;
		bias-disable;
	};

	qup_i2c11_default: qup-i2c11-state {
		pins = "gpio48", "gpio49";
		function = "qup1_se4";
		drive-strength = <2>;
		bias-pull-up;
	};

	qup_i2c18_default: qup-i2c18-state {
		pins = "gpio95", "gpio96";
		function = "qup2_se4";
		drive-strength = <2>;
		bias-pull-up;
	};

	qup_uart12_default: qup-uart12-state {
		qup_uart12_cts: qup-uart12-cts-pins {
			pins = "gpio52";
			function = "qup1_se5";
			bias-disable;
		};

		qup_uart12_rts: qup-uart12-rts-pins {
			pins = "gpio53";
			function = "qup1_se5";
			bias-pull-down;
		};

		qup_uart12_tx: qup-uart12-tx-pins {
			pins = "gpio54";
			function = "qup1_se5";
			bias-pull-up;
		};

		qup_uart12_rx: qup-uart12-rx-pins {
			pins = "gpio55";
			function = "qup1_se5";
			bias-pull-down;
		};
	};

	qup_uart17_default: qup-uart17-state {
		qup_uart17_cts: qup-uart17-cts-pins {
			pins = "gpio91";
			function = "qup2_se3";
			bias-disable;
		};

		qup_uart17_rts: qup0-uart17-rts-pins {
			pins = "gpio92";
			function = "qup2_se3";
			bias-pull-down;
		};

		qup_uart17_tx: qup0-uart17-tx-pins {
			pins = "gpio93";
			function = "qup2_se3";
			bias-pull-up;
		};

		qup_uart17_rx: qup0-uart17-rx-pins {
			pins = "gpio94";
			function = "qup2_se3";
			bias-pull-down;
		};
	};

	pcie0_default_state: pcie0-default-state {
		perst-pins {
			pins = "gpio2";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};

		clkreq-pins {
			pins = "gpio1";
			function = "pcie0_clkreq";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio0";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	pcie1_default_state: pcie1-default-state {
		perst-pins {
			pins = "gpio4";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};

		clkreq-pins {
			pins = "gpio3";
			function = "pcie1_clkreq";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio5";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};
};

&uart10 {
	pinctrl-0 = <&qup_uart10_default>;
	pinctrl-names = "default";
	status = "okay";
};

&uart12 {
	pinctrl-0 = <&qup_uart12_default>;
	pinctrl-names = "default";
	status = "okay";
};

&uart17 {
	pinctrl-0 = <&qup_uart17_default>;
	pinctrl-names = "default";
	status = "okay";
};

&ufs_mem_hc {
	reset-gpios = <&tlmm 149 GPIO_ACTIVE_LOW>;
	vcc-max-microamp = <1100000>;
	vccq-max-microamp = <1200000>;

	status = "okay";
};

&usb_0 {
	pinctrl-names = "default";
	status = "okay";
};

&usb_0_dwc3 {
	dr_mode = "peripheral";
};

&usb_0_hsphy {
	status = "okay";
};

&usb_0_qmpphy {
	status = "okay";
};

&usb_1 {
	pinctrl-names = "default";
	status = "okay";
};

&usb_1_dwc3 {
	dr_mode = "host";
};

&usb_1_hsphy {
	status = "okay";
};

&usb_1_qmpphy {
	status = "okay";
};

&usb_2 {
	pinctrl-names = "default";
	status = "okay";
};

&usb_2_dwc3 {
	dr_mode = "host";
};

&usb_2_hsphy {
	status = "okay";
};

&xo_board_clk {
	clock-frequency = <38400000>;
};

