Source: bootkpi-logging
Section: devel
Priority: optional
Maintainer: leiwang <leiwan@qti.qualcomm.com>
Build-Depends: cmake, debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://www.codelinaro.org/

Package: bootkpi-logging-dev
Architecture: arm64
Section: libdevel
Depends: ${misc:Depends}
Description: bootkpi-logging API

