# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Bind devices to vfio-platform
Requires=systemd-modules-load.service systemd-hostnamed.service
After=systemd-modules-load.service systemd-hostnamed.service
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
TimeoutStartSec=0
Restart=on-failure
ExecStart=/usr/bin/vfio-device-bind.sh

[Install]
WantedBy=multi-user.target
