// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

#include "sa8255p-ddr-12gb-vms.dtsi"

&non_ecc_heap_mem {
	reg = <0xB 0x16E00000 0x0 0x20000000>;
};
