// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

&non_ecc_heap_mem {
	reg = <0xB 0x16E00000 0x0 0x10000000>;
};
