// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

#include "sa8255p-ddr-12gb-vms.dtsi"

&non_ecc_heap_mem {
	reg = <0xB 0x16E00000 0x0 0x20000000>;
};

&ramcarveout_mem {
	reg = <0x0 0xDB300000 0x0 0x04000000>;
};

&journal_region {
	reg = <0x0 0xDB300000 0x0 0x04000000>;
};

&{/reserved-memory} {

	mdlc: mdlc@91300000 {
		no-map;
		reg = <0x0 0x91300000 0x0 0x10000>;
	};

};
