# SPDX-License-Identifier: BSD-3-Clause-Clear
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.

[Unit]
Description=Offline target CPUs at boot time

# DefaultDependencies=no
After=display-be.service \
      vhost-user-misc.service vhost-user-disp.service \
      vhost-user-gpu.service vhost-user-aud.service \
      vhost-user-vid.service vhost-user-cam.service \
      vhost-user-vnw.service vhost-user-ext.service \
      vhost-user-gpce.service vhost-user-dprx.service \
      vhost-user-eva.service vhost-user-soccp.service \
      audio-umd.service awe-audio.service \
      hyp-video-be.service qcx_be_server.service \
      vmm-pwr-key.service vhost-user-glinkpassthrough.service \
      vhost-user-frpc.service vhost-device-ssr.service \
      vhost-device-i2c.service gsl_hab_server.service
# Before=qcrosvm.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 20
ExecStart=/usr/bin/offline-target-cpus

[Install]
WantedBy=multi-user.target
